<div class="content">
  <h5><%= entityName %></h5>
  <div class="form">
    <%=
    attributes.map( function(attribute) {
      if(attribute.kind == "language-string-set") {
        return "<div class=\"row\"><div class=\"col s4\">" + attribute.name + "</div>"
    + "<div class=\"col s8\">"
    + "{{#each model." + attribute.itemVar + " as |label index|}}"
    + "<div class=\"row\">"
    + "<div class=\"col s8 field--location\">{{input type=\"text\" value=label.content}}</div>"
    + "<div class=\"col s4 field--language\">{{input type=\"text\" value=label.language}}</div>"
    + "</div>"
    + "{{/each}}</div></div>";
    }
      else {
        return "<div class=\"row\"><div class=\"col s4\">" + attribute.name + "</div><div class=\"col s8\">{{input type=\"text\" value=model." + attribute.itemVar +"}}</div></div>";
    }
    }).join("\n  ")
    
    %>
    
    <div class="row">
      <div class="col s12">
	<div class="btn btn--submit right" {{action "save" model}}>Save changes</div>
      </div>
    </div>
  </div>
  
</div>

Belongs to:
<!-- you can't edit these yet -->
<ul>
<%=
    belongsToRelationships.map( function(relationship) {
      return "" +
        "  <li>\n" +
        "    {{#if model." + relationship.itemVar + "}}\n" +
        "      {{link-to \"" + relationship.name + "\" \"" + relationship.name + "\" model." + relationship.itemVar + "}}\n" +
        "    {{else}}\n" +
        "      No " + relationship.itemVar + " set\n" +
        "    {{/if}}\n" +
        "  </li>"
    }).join("\n")
  %>
</ul>

Has many:
<!-- you can't edit these yet -->
<table>
  <th><td>Relationship</td><td>Links</td></th>
  <%=
    hasManyRelationships.map( function(relationship) {
    var itemVar = relationship.itemVar;
    var kind = relationship.kind;
    var name = relationship.name;
    return "" +
      "  <tr>\n" +
      "    {{#each model." + name + " as |" + itemVar + "|}}\n" +
      "      {{link-to " + itemVar + ".title \"" + kind + "\" " + itemVar + "}}\n" +
      "    {{/each}}\n" +
      "  </tr>\n"
    } ).join("")
  %></table>
