<div class="content">
  <h5>{{model.preflabel}}</h5>
  <div class="form">
    <%=
    attributes.map( function(attribute) {
      if(attribute.kind == "language-string-set") {
        return "<div class=\"row\"><div class=\"col s4\">" + attribute.name + "</div>"
    + "<div class=\"col s8\">"
    + "{{#each model." + attribute.itemVar + " as |label index|}}"
    + "<div class=\"row\">"
    + "<div class=\"col s8 field--location\">{{label.content}}</div>"
    + "<div class=\"col s4 field--language\">{{label.language}}</div>"
    + "</div>"
    + "{{/each}}</div></div>";
      }
      else {
        return "<div class=\"row\"><div class=\"col s12 m4\">" + attribute.name + "</div><div class=\"col s12 m8\">{{model." + attribute.itemVar +"}}</div></div>";
      }
    }).join("\n  ")
    %>

    <%=
    hasManyRelationships.map( function(relationship) {
      var itemVar = relationship.itemVar;
      var itemVarSingle = relationship.itemVarSingle;
      var kind = relationship.kind;
      var name = relationship.name;
      return "" +
        "  <div class=\"row\">\n" +
        "    <div class=\"col s12 m4\">" + name + "</div>\n" +
        "    <div class=\"col s12 m8\">\n" +
        "    {{#each (await model." + itemVar + ") as |resource|}}\n" +
        "      <div>{{link-to resource.preflabel \"" + itemVarSingle + "\" resource}}</div>\n" +
        "    {{/each}}\n" +
        "    </div>\n" +
        "  </div>\n"
    } ).join("")
    %>
  </div>
</div>
